# Configuration file

"entity blacklist" {
    B:AWWayofTime.AirElemental=false
    B:AWWayofTime.BileDemon=false
    B:AWWayofTime.BoulderFist=false
    B:AWWayofTime.EarthElemental=false
    B:AWWayofTime.FallenAngel=false
    B:AWWayofTime.FireElemental=false
    B:AWWayofTime.HolyElemental=false
    B:AWWayofTime.IceDemon=false
    B:AWWayofTime.LowerGuardian=false
    B:AWWayofTime.MinorDemonGrunt=false
    B:AWWayofTime.MinorDemonGruntEarth=false
    B:AWWayofTime.MinorDemonGruntFire=false
    B:AWWayofTime.MinorDemonGruntGuardian=false
    B:AWWayofTime.MinorDemonGruntGuardianEarth=false
    B:AWWayofTime.MinorDemonGruntGuardianFire=false
    B:AWWayofTime.MinorDemonGruntGuardianIce=false
    B:AWWayofTime.MinorDemonGruntGuardianWind=false
    B:AWWayofTime.MinorDemonGruntIce=false
    B:AWWayofTime.MinorDemonGruntWind=false
    B:AWWayofTime.Shade=false
    B:AWWayofTime.ShadeElemental=false
    B:AWWayofTime.SmallEarthGolem=false
    B:AWWayofTime.WaterElemental=false
    B:AWWayofTime.WingedFireDemon=false
    B:AgriCraft.villagerFarmer=false
    B:Automagy.WispNether=false
    B:Basalz=false
    B:Bat=false
    B:Blaze=false
    B:Blitz=false
    B:Blizz=false
    B:"Botania.botania:pixie"=false
    B:CaveSpider=false
    B:Chicken=false
    B:"ChromatiCraft.Ball Lightning"=false
    B:Cow=false
    B:Creeper=false
    B:Enderman=false
    B:EntityHorse=false
    B:Forestry.butterflyGE=false
    B:Ghast=false
    B:Giant=false
    B:HardcoreEnderExpansion.AngryEnderman=false
    B:HardcoreEnderExpansion.BabyEnderman=false
    B:HardcoreEnderExpansion.EnderGuardian=false
    B:HardcoreEnderExpansion.Endermage=false
    B:HardcoreEnderExpansion.FireGolem=false
    B:HardcoreEnderExpansion.ForestGhost=false
    B:HardcoreEnderExpansion.HauntedMiner=false
    B:HardcoreEnderExpansion.HomelandEnderman=false
    B:HardcoreEnderExpansion.InfestedBat=false
    B:HardcoreEnderExpansion.Louse=false
    B:HardcoreEnderExpansion.ParalyzedEnderman=false
    B:HardcoreEnderExpansion.ScorchedLens=false
    B:HardcoreEnderExpansion.VampireBat=false
    B:LavaSlime=false
    B:Mob=false
    B:Monster=false
    B:MushroomCow=false
    B:Natura.FlameSpider=false
    B:Natura.FlameSpiderBaby=false
    B:Natura.Imp=false
    B:Natura.NitroCreeper=false
    B:NuclearMonster=false
    B:OpenBlocks.Luggage=false
    B:OpenBlocks.MiniMe=false
    B:Ozelot=false
    B:Paul=false
    B:Pig=false
    B:PigZombie=false
    B:PneumaticCraft.Drone=false
    B:PneumaticCraft.logisticDrone=false
    B:RandomThings.spirit=false
    B:Sheep=false
    B:Silverfish=false
    B:Skeleton=false
    B:Slime=false
    B:SnowMan=false
    B:SpecialMobs.ArmorCreeper=false
    B:SpecialMobs.BabyCaveSpider=false
    B:SpecialMobs.BabyGhast=false
    B:SpecialMobs.BabySpider=false
    B:SpecialMobs.BlackberrySlime=false
    B:SpecialMobs.BlindingEnderman=false
    B:SpecialMobs.BlindingSilverfish=false
    B:SpecialMobs.BlueberrySlime=false
    B:SpecialMobs.BrutishPigZombie=false
    B:SpecialMobs.BrutishSkeleton=false
    B:SpecialMobs.BrutishZombie=false
    B:SpecialMobs.CaramelSlime=false
    B:SpecialMobs.CinderBlaze=false
    B:SpecialMobs.ConflagrationBlaze=false
    B:SpecialMobs.CursedEnderman=false
    B:SpecialMobs.DarkCreeper=false
    B:SpecialMobs.DeathCreeper=false
    B:SpecialMobs.DesertSpider=false
    B:SpecialMobs.DirtCreeper=false
    B:SpecialMobs.DominationWitch=false
    B:SpecialMobs.DoomCreeper=false
    B:SpecialMobs.DrowningCreeper=false
    B:SpecialMobs.EmberBlaze=false
    B:SpecialMobs.EnderCreeper=false
    B:SpecialMobs.FaintGhast=false
    B:SpecialMobs.FighterGhast=false
    B:SpecialMobs.FireCreeper=false
    B:SpecialMobs.FireSkeleton=false
    B:SpecialMobs.FireZombie=false
    B:SpecialMobs.FishingPigZombie=false
    B:SpecialMobs.FishingSilverfish=false
    B:SpecialMobs.FishingZombie=false
    B:SpecialMobs.FlyingCaveSpider=false
    B:SpecialMobs.FlyingSilverfish=false
    B:SpecialMobs.FlyingSpider=false
    B:SpecialMobs.GatlingSkeleton=false
    B:SpecialMobs.GhostSpider=false
    B:SpecialMobs.GiantPigZombie=false
    B:SpecialMobs.GiantSkeleton=false
    B:SpecialMobs.GiantSpider=false
    B:SpecialMobs.GiantZombie=false
    B:SpecialMobs.GrapeSlime=false
    B:SpecialMobs.GravelCreeper=false
    B:SpecialMobs.GravityCreeper=false
    B:SpecialMobs.HellfireBlaze=false
    B:SpecialMobs.HungryPigZombie=false
    B:SpecialMobs.HungrySpider=false
    B:SpecialMobs.HungryZombie=false
    B:SpecialMobs.IcyEnderman=false
    B:SpecialMobs.InfernoBlaze=false
    B:SpecialMobs.JoltBlaze=false
    B:SpecialMobs.JumpingCreeper=false
    B:SpecialMobs.KingGhast=false
    B:SpecialMobs.LemonSlime=false
    B:SpecialMobs.LightningCreeper=false
    B:SpecialMobs.LightningEnderman=false
    B:SpecialMobs.MiniCreeper=false
    B:SpecialMobs.MiniEnderman=false
    B:SpecialMobs.MiniGhast=false
    B:SpecialMobs.MirageEnderman=false
    B:SpecialMobs.MotherCaveSpider=false
    B:SpecialMobs.MotherSpider=false
    B:SpecialMobs.NinjaSkeleton=false
    B:SpecialMobs.PaleSpider=false
    B:SpecialMobs.PlaguePigZombie=false
    B:SpecialMobs.PlagueZombie=false
    B:SpecialMobs.PoisonSilverfish=false
    B:SpecialMobs.PoisonSkeleton=false
    B:SpecialMobs.PoisonSpider=false
    B:SpecialMobs.QueenGhast=false
    B:SpecialMobs.RageWitch=false
    B:SpecialMobs.ShadowsWitch=false
    B:SpecialMobs.SmallSpider=false
    B:SpecialMobs.SmolderBlaze=false
    B:SpecialMobs.SniperSkeleton=false
    B:SpecialMobs.SpecialBlaze=false
    B:SpecialMobs.SpecialCaveSpider=false
    B:SpecialMobs.SpecialCreeper=false
    B:SpecialMobs.SpecialEnderman=false
    B:SpecialMobs.SpecialGhast=false
    B:SpecialMobs.SpecialPigZombie=false
    B:SpecialMobs.SpecialSilverfish=false
    B:SpecialMobs.SpecialSkeleton=false
    B:SpecialMobs.SpecialSlime=false
    B:SpecialMobs.SpecialSpider=false
    B:SpecialMobs.SpecialWitch=false
    B:SpecialMobs.SpecialZombie=false
    B:SpecialMobs.SpitfireSkeleton=false
    B:SpecialMobs.SplittingCreeper=false
    B:SpecialMobs.StrawberrySlime=false
    B:SpecialMobs.ThiefEnderman=false
    B:SpecialMobs.ThiefSkeleton=false
    B:SpecialMobs.ToughCaveSpider=false
    B:SpecialMobs.ToughSilverfish=false
    B:SpecialMobs.ToughSpider=false
    B:SpecialMobs.UndeadWitch=false
    B:SpecialMobs.UnholyGhast=false
    B:SpecialMobs.VampirePigZombie=false
    B:SpecialMobs.WatermelonSlime=false
    B:SpecialMobs.WebCaveSpider=false
    B:SpecialMobs.WebSpider=false
    B:SpecialMobs.WildfireBlaze=false
    B:SpecialMobs.WildsWitch=false
    B:SpecialMobs.WindWitch=false
    B:SpecialMobs.WitchCaveSpider=false
    B:SpecialMobs.WitchSpider=false
    B:Spider=false
    B:Squid=false
    B:TConstruct.Crystal=false
    B:TConstruct.EdibleSlime=false
    B:Thaumcraft.BrainyZombie=false
    B:Thaumcraft.CultistCleric=false
    B:Thaumcraft.CultistKnight=false
    B:Thaumcraft.EldritchCrab=false
    B:Thaumcraft.EldritchGuardian=false
    B:Thaumcraft.Firebat=false
    B:Thaumcraft.GiantBrainyZombie=false
    B:Thaumcraft.Golem=false
    B:Thaumcraft.InhabitedZombie=false
    B:Thaumcraft.MindSpider=false
    B:Thaumcraft.Pech=false
    B:Thaumcraft.TaintSpider=false
    B:Thaumcraft.TaintSpore=false
    B:Thaumcraft.TaintSwarm=false
    B:Thaumcraft.TaintSwarmer=false
    B:Thaumcraft.Taintacle=false
    B:Thaumcraft.TaintacleTiny=false
    B:Thaumcraft.TaintedChicken=false
    B:Thaumcraft.TaintedCow=false
    B:Thaumcraft.TaintedCreeper=false
    B:Thaumcraft.TaintedPig=false
    B:Thaumcraft.TaintedSheep=false
    B:Thaumcraft.TaintedVillager=false
    B:Thaumcraft.ThaumSlime=false
    B:Thaumcraft.TravelingTrunk=false
    B:Thaumcraft.Wisp=false
    B:Villager=false
    B:VillagerGolem=false
    B:"Void Monster"=false
    B:Witch=false
    B:"Wither Skeleton"=false
    B:Wolf=false
    B:Zombie=false
    B:foundry.gunSkeleton=false
    B:ganysnether.ganysnether.blameGolem=false
    B:grue.EntityGrue=false
}


